.image-box {
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-weight: bold;
}









.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


.img-fluid{

    height:1000px;
    width: 1900px;
}